body {
    font-family: Arial;
    background: #f2f2f2;
}

.card {
    background: white;
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px;
}

button {
    padding: 10px 25px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
